// Importer Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Palette de couleurs imposée
$primary: #0074c7;
$secondary: #384050;
$success: #82b864;
$danger: #cd2c2e;
$light: #f1f8fc;
$dark: #00497c;

// Réaffectation des variables Bootstrap
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

// Réimportation pour prendre en compte les nouvelles couleurs
@import "../../../node_modules/bootstrap/scss/bootstrap";

// Styles personnalisés
body {
  background-color: $light;
}