// Variables (couleurs imposées)
$primary: #0074c7;
$secondary: #00497c;
$dark: #384050;
$danger: #cd2c2e;
$success: #82b864;
$body-bg: #f1f8fc;

// Import de Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";